%html
  %head
    %title= "Berklee Lighthouse Visualizer"
    %meta{ :content => "", :name => "Berklee Lighthouse Visualizer" }
    %meta{ :content => "", :name => "Eben Goodman" }
    %link{ :href => "css/screen.css", :media => "screen", :rel => "stylesheet" }
    %link{ :href => "css/bootstrap.min.css", :media => "screen", :rel => "stylesheet" }
    %script{ :src => "js/jquery-1.7.2.min.js", :type => "text/javascript" }
    %script{ :src => "js/bootstrap.min.js", :type => "text/javascript" }
    
  %body
    #search_btn
      %a(title="Search" href="#myModal" data-toggle="modal")
        %img{ :src => "img/mag.png" }
      %span#search_txt
        %b State:
        #{@tickets[:state]},
        %b Tagged:
        #{@tickets[:tagged]},
        %b Responsible:
        #{@tickets[:responsible]}
    %div#myModal.modal.hide.fade
      %div.modal-header
        %button(class="close" data-dismiss="modal" aria-hidden="true") x
        %h3#myModalLabel Search
      %form{ :action => "/", :method => "get", :id => "search_frm" }
        %label{ :for => ""} State:
        %input{ :type => "textfield", :name => "state", :id => "state", :value => "#{@tickets[:state]}"}
        %label{ :for => ""} Tagged:
        %input{ :type => "textfield", :name => "tagged", :id => "tagged", :value => "#{@tickets[:tagged]}"}
        %label{ :for => ""} Responsible:
        %input{ :type => "textfield", :name => "responsible", :id => "responsible", :value => "#{@tickets[:responsible]}"}
        %br/
        %br/
        %input{ :type => "submit", :value => "Submit" }

    #timeline-embed
    :javascript
      var timeline_config = {
      width: "100%",
      height: "90%",
      source: "/tickets.json/#{@tickets[:state]}/#{@tickets[:tagged]}/#{@tickets[:responsible]}",
      start_at_end:	true,					//OPTIONAL
      start_zoom_adjust: 5,
      //hash_bookmark: true,					//OPTIONAL
      css: 	'js/timeline/compiled/css/timeline.css',	//OPTIONAL
      js: 	'js/timeline/compiled/js/timeline-min.js'	//OPTIONAL
      }

    %script{ :src => 'js/timeline/compiled/js/timeline-embed.js', :type => 'text/javascript'}
    %script{ :src => "js/custom.js", :type => "text/javascript" }
